name: Testing ci with Github Actions

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        
    - name: Install bun
      uses: oven-sh/setup-bun@v1
      with:
        node-version: 'latest'

    - name: Build
      run: |
        bun install
        bunx webpack
